body{    
    background-image: url("../../../assets/background.jpg");
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover;
    padding-top: 2vh;
    background-position: center;
}
.container{
    min-height: 75vh;
}