a{
    cursor: pointer;
}
.card{
    border-radius: 1rem 0 1rem 0;    
    width: 18rem;
    height: 414px;
    position: relative;
}
.buttons{
 position: absolute;
 width: 100%;
 bottom: 0;
}
.bi-trash{
    border-radius: 0 0 1rem 0;
    color: red;
}
.card img{
    border-radius: 1rem 0 0;
}
.card-body{
    margin: 0;
    padding: 0;
}
.card-title{
    background-color: gray; 
    padding: .5rem;
}
.card-text{
    padding: .5rem;
    font-size: large;
}

.modal-body p{
    font-size: 1.3rem;
    line-height: 2rem;
    text-align: justify;
    text-indent: 1.5em;
}